<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Order List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Order List</h4>
                    <div class="add-product">
                        <a href="/orders/ordersEdit">Add Order</a>
                    </div>
                    <table>
                        <tr>
                            <th>Order Code</th>
                            <th>Customer's Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Total Items</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Setting</th>
                        </tr>
                        <tr>
                            <td>ODR000320</td>
                            <td>Andrea</td>
                            <td>1431 Rockland Ave, Pittsburgh, PA, 15216</td>
                            <td>(334) 484-3230</td>
                            <td>5</td>
                            <td>$250</td>
                            <td>Processing</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>ODR000319</td>
                            <td>Micheal</td>
                            <td>10440 County 2290 Rd, Goshen, AL, 36035</td>
                            <td>(724) 449-1968</td>
                            <td>2</td>
                            <td>$120</td>
                            <td>Shipped</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>ODR000318</td>
                            <td>Greg Johnson</td>
                            <td>30 Nicholas Ave, Groton, CT, 06340</td>
                            <td>(344) 484-0097</td>
                            <td>5</td>
                            <td>$400</td>
                            <td>Shipped</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>ODR000317</td>
                            <td>Jane Smith</td>
                            <td>6 County Rd #341, Wynne, AR, 72396</td>
                            <td>(338) 484-3456</td>
                            <td>8</td>
                            <td>$450</td>
                            <td>In Transit</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>ODR000316</td>
                            <td>Charles</td>
                            <td>947 Parkview Ave, Youngstown, OH, 44511</td>
                            <td>(409) 729-0532</td>
                            <td>2</td>
                            <td>$70</td>
                            <td>Delivered</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>ODR000315</td>
                            <td>Bernice</td>
                            <td>1424 D Ave, Nederland, TX, 77627</td>
                            <td>(860) 333-6035</td>
                            <td>12</td>
                            <td>$750</td>
                            <td>Delivered</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>