<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Customer List</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Customer List</h4>
                    <div class="add-product">
                        <a href="/customers/customersEdit">Add Customer</a>
                    </div>
                    <table>
                        <tr>
                            <th>Avatar</th>
                            <th>ID</th>
                            <th>Customer's Name</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Setting</th>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM000381</td>
                            <td>Cindy</td>
                            <td>Female</td>
                            <td>(218) 864-8724</td>
                            <td>Prilloomply59@superrito.com</td>
                            <td>1513 Lilac Ln, Plano, TX, 75074</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM001321</td>
                            <td>Jeff Smith</td>
                            <td>Male</td>
                            <td>(113) 864-1123</td>
                            <td>iella@otlaecc.com</td>
                            <td>Po Box 817, Canby, OR, 97013</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM004311</td>
                            <td> Scott A Johnson</td>
                            <td>Rather Not Say</td>
                            <td>(563) 689-6288</td>
                            <td>yuramizar@prcc.site</td>
                            <td>211 W Henri St, Preston, IA, 52069  </td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM002411</td>
                            <td>Mary</td>
                            <td>Rather Not Say</td>
                            <td>(336) 864-8755</td>
                            <td>prgss2@mailpluss.com</td>
                            <td>480 Skylark Dr, Monroe Township, NJ, 08831</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM000455</td>
                            <td> Allison</td>
                            <td>Female</td>
                            <td>(218) 864-8724</td>
                            <td>Candy89@super.com</td>
                            <td>10 Wellbrook Pl, Trabuco Canyon, CA, 92679 </td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                            <td>CTM004463</td>
                            <td>Patricia</td>
                            <td>Male</td>
                            <td>(218) 864-4453</td>
                            <td>jiopd123@litrk.site</td>
                            <td>26512 State 78 Hwy, Battle Lake, MN, 56515</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>