<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Add New Admin</h2>
                                    <p>Welcome To Cherish <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                    class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                        aria-hidden="true"></i>Add New Admin</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <form action="/admins/newAdmin" method="POST" id="addForm">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"></span>
                                                <input type="text" class="form-control" placeholder="Account"
                                                    name="Account">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"></span>
                                                <input type="password" class="form-control" placeholder="Password"
                                                    name="Password">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                            <span class="input-group-addon"></span>
                                            <select name="select"
                                                class="form-control pro-edt-select form-control-primary">
                                                <option value="opt1">Role -- Select One Value Only </option>
                                                <option value="opt2">Admin</option>
                                                <option value="opt3">Moderator</option>
                                                <option value="opt4">Editor</option>
                                            </select>
                                            <br>
                                            {{#if message }}
                                            <h4 class="alert alert-danger mt-4">{{message}}</h4>
                                            {{/if}}
                                            <div class="text-center custom-pro-edt-ds">
                                                <br>
                                                <button type="submit"
                                                    class="btn btn-ctl-bt waves-effect waves-light m-r-10">Save</button>
                                                <a href="/admins" class="btn btn-ctl-bt waves-effect waves-light">Discard</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>